{
  "schemaVersion": 3,
  "displayName": "Meine Coop-Mission",
  "description": "Host und Gast verteidigen gemeinsam die Oase.",
  "map": {
    "source": "bundled",
    "file": "Assets/01/map.map"
  },
  "settings": {
    "fairness": 3,
    "startingGoodsLevel": 4,
    "allowBarracksHost": true,
    "allowMercenaryPostHost": true,
    "allowStockadeHost": true,
    "allowBarracksGuest": true,
    "allowMercenaryPostGuest": true,
    "allowStockadeGuest": true
  },
  "players": [
    {
      "active": true,
      "team": 1,
      "colour": 0,
      "keepPosition": 1
    },
    {
      "active": true,
      "team": 7,
      "colour": 1,
      "keepPosition": 2
    },
    {
      "active": true,
      "team": 2,
      "colour": 2,
      "keepPosition": 3,
      "lord": {
        "source": "bundled",
        "name": "Custom Rat",
        "file": "Assets/01/lord-3.lordjson",
        "baseLordId": 0
      },
      "aivs": [
        {
          "source": "bundled",
          "file": "Assets/01/aiv-3-1.aivjson",
          "rotation": 90
        },
        {
          "source": "installed",
          "name": "castle-2",
          "lordName": "Custom Rat",
          "rotation": 90
        }
      ],
      "preferredAiv": -1
    }
  ]
}
