{
  "schemaVersion": 4,
  "displayName": "Meine Coop-Mission",
  "description": "Host und Gast verteidigen gemeinsam die Oase.",
  "map": {
    "source": "bundled",
    "file": "Assets/01/map.map"
  },
  "settings": {
    "fairness": 3,
    "startingGoodsLevel": 4,
    "allowBarracksHost": true,
    "allowMercenaryPostHost": true,
    "allowStockadeHost": true,
    "allowBarracksGuest": true,
    "allowMercenaryPostGuest": true,
    "allowStockadeGuest": true,
    "multiplayerSetup": {
      "startingGameSpeed": 40,
      "winCondition": 0,
      "allowAutoTrading": 1,
      "noKnockdownWalls": 1,
      "autoSave": 10,
      "peaceTime": 15,
      "noCows": 0,
      "noDogs": 0,
      "extremeTroops": 1,
      "extremePowers": 0,
      "extremePowersAroundLord": 0,
      "allowOutposts": 0,
      "advancedOptions": 0,
      "advancedSkirmishOptions": 1,
      "preBuild": 1,
      "improvedArabSwordsmen": 1,
      "improvedLaddermen": 1,
      "improvedSpearmen": 1,
      "rebalancedHorseArchers": 1,
      "improvedFletchers": 1,
      "uncappedPeasants": 0,
      "fasterPeasants": 0,
      "enemyHitPoints": 0,
      "improvedSieging": 1,
      "healers": 1,
      "eunuchs": 1,
      "noGold": 0,
      "improvedSieging2": 1,
      "buildingsAvailable": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      "goodsAvailable": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      "troopsAvailable": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
    }
  },
  "players": [
    {
      "active": true,
      "team": 1,
      "colour": 8,
      "keepPosition": 1
    },
    {
      "active": true,
      "team": 7,
      "colour": 1,
      "keepPosition": 2
    },
    {
      "active": true,
      "team": 2,
      "colour": 2,
      "keepPosition": 3,
      "lord": {
        "source": "bundled",
        "name": "Custom Rat",
        "file": "Assets/01/lord-3.lordjson",
        "baseLordId": 0
      },
      "aivs": [
        {
          "source": "bundled",
          "file": "Assets/01/aiv-3-1.aivjson",
          "rotation": 90
        },
        {
          "source": "installed",
          "name": "castle-2",
          "lordName": "Custom Rat",
          "rotation": 90
        }
      ],
      "preferredAiv": -1,
      "nativePreferredAiv": 100
    }
  ]
}
