## Settings file was created by plugin Fixes v1.25.0.0
## Plugin GUID: fixes

[AIBuildDistancedSiegeTents]

## Force the AI to add gaps between building siege tents.
# Setting type: Boolean
# Default value: true
Enabled = true

[AISelectSiegeRallypointOverrides]

## Enables special overrides that will be active for all ais in the game in relation to sieges
# Setting type: Boolean
# Default value: false
Enabled = false

## Limit for preferred standoff distance
# Setting type: Int32
# Default value: 110
MaxSearchRadius = 110

## Preferred distance from besieged castle
# Setting type: Int32
# Default value: 90
PreferredStandoffDistance = 90

[AllowAIToBuiltTowersAndSimiliarOverAlliedUnits]

## Allows AIs to build certain buildings such as Towers or Gatehouses over allied units.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomAIControl]

## Makes it possible for AIs to have custom AI controls in terms of disabled AI or disabled siege AI.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomAIPurchasingRoutines]

## Makes it possible for AIs to have custom purchasing behaviours. Allowing things such as BuyIronAt, etc
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomGoodBadRequirements]

## Makes it possible for AIs to have custom requirements for good/bad things.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomMaxOxenAmount]

## Allows AI lords to supply their own max oxen amount.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomMinGoldForHarassmentSiegeEngines]

## Allows AI lords to supply their own min gold for harassment siege engines.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomPlayerKeepRotations]

## Allows players to decide which way their keep is rotated towards.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomSiegeLifetime]

## Makes it possible for AIs to have custom siege lifetime.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomStoneToOxenRatio]

## Allows AI lords to supply their own stone to oxen ratio.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowCustomTunnelerDigRange]

## Makes it possible for AIs to have custom dig ranges for tunnelers.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowDeletionOfMoatsWithUnitsInsidePatch]

## Makes it possible to delete moats that contain units inside of it (stuck or otherwise)
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowKeep3ForAIVs]

## Enable KEEP3 usage for AIVs
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowLethalAILordTargeting]

## The game is very lenient by default and does not like targetting any lords themselves. This setting overrides this behaviour, and any siege-assigned tribes are now LETHAL.
# Setting type: Boolean
# Default value: true
Enabled = true

[AllowSiegeAssassinsIgnoreNonSiegeTargets]

## Makes it possible for AIs to let their siege assassins ignore non active siege targets.
# Setting type: Boolean
# Default value: true
Enabled = true

[AssignNewTribeOnUnitTypeTrim]

## Auto-assigns removed unit types from the active selection a new tribe.
# Setting type: Boolean
# Default value: true
Enabled = true

[CustomHovelBuildingLogic]

## Allows per-AI configured behaviour regarding hovels
# Setting type: Boolean
# Default value: true
Enabled = true

## Applies the global override settings defined here for all AIs
# Setting type: Boolean
# Default value: true
Force = true

## The minimum housing space to even consider building more hovels.
# Setting type: Int32
# Default value: 12
MinimumCivilianHousingSpace = 12

## If there are equal or above this amount of current idle peasants, the ai will not build more hovels.
# Setting type: Int32
# Default value: 5
RequiredCurrentIdlePeasantCount = 5

## If there are equal or above this amount of average idle peasants, the ai will not build more hovels.
# Setting type: Int32
# Default value: 5
RequiredAverageIdlePeasantCount = 5

## If the AI has less than this amout of popularity(0 - 10000), the ai will not build more hovels.
# Setting type: Int32
# Default value: 5000
RequiredMinimumPopularity = 5000

[EnableArabBallistaOffsetFix]

## This fixes the arab ballista sprite offset (x+1, y+1)
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableDisableAllWildlifeOption]

## Enables this option to work in the first place to kill all wildlife on map start.
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableLowWallRefundFix]

## Fixes the stone refund accumulation bug that lets the game struggle to properly refund the stone cost for refunded low-height walls.
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableMissingHorsePurchasingFix]

## Fixes a bug where an AI attempting to recruit a knight without an available horse could begin purchasing unrelated weapons or armour.
# Setting type: Boolean
# Default value: true
Enabled = true

[EnablePerLordCustomRequiredDefensiveRecruitmentTickTime]

## Allows per-AI configured defensive recruitment tick time
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableStair6SlowdownFix]

## This fix prevents Stair6's placed by the AIV builder to slow it down per stair placed.
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableTunnelersDontDamageAlliedStuff]

## This fix prevents tunnelers from damaging own or allied objects.
# Setting type: Boolean
# Default value: true
Enabled = true

[EnableWheatSaleCategoryFix]

## Enables the fix for a bug in the AIs market-sell logic where raw wheat was incorrectly categorized
# Setting type: Boolean
# Default value: false
Enabled = true

[EnableWorkersStuckInMoatFix]

## This fixes workers that get otherwise stuck in moats, when exiting their working place for example, by simply despawning them.
# Setting type: Boolean
# Default value: true
Enabled = true

[FixPlacementSelectionNotAccountingForFarmland]

## Fixes the bug where building placement selectors (for AI mostly) failed to recognize that their destined target is occupied by farmland (such as orchards, etc) and be stuck in a loop attempting to build something there.
# Setting type: Boolean
# Default value: true
Enabled = true

[GatehouseFarmerFix]

## Enables fix for wheat and cattle farmers that get stuck on gatehouses that automatically closed
# Setting type: Boolean
# Default value: true
Enabled = true

[HarassingTentIdleEngineersFix]

## Attempts to fix the bug that causes engineers to duplicate and become idle when mounting a harassment siege engine tent by delaying
# Setting type: Boolean
# Default value: true
Enabled = true

## The delay amount (ms) before the engineers get their assigning order to go to the tent.
# Setting type: Int32
# Default value: 1000
DelayAmount = 1000

[HopsfarmFix]

## Enable Hops Farm Fix
# Setting type: Boolean
# Default value: true
Enabled = true

## Force the Hops Farm Fix to affect all AIs
# Setting type: Boolean
# Default value: false
Force = false

[ImplementStrongestAttackPrioritySupport]

## Implements id 5 to the enum that controls what targets an AI wants to besiege: The Strongest
# Setting type: Boolean
# Default value: true
Enabled = true

[ModularGoodsyardPlacement]

## Enables the per-player toggle for goodsyard placement
# Setting type: Boolean
# Default value: true
Enabled = true

[Pathfinding]

## The maximum amount of tiles the game will query before giving up. Warn: Do not mess with this too much, it can and will impact performance alot.
# Setting type: UInt16
# Default value: 2000
MaxTilesDistance = 2000

## Increases the maximum amount of Path Connection Layers (PCL)s available for the game from 1000 to 4000.
# Setting type: Boolean
# Default value: true
EnableExtendedPCLArray = true

## Fixes the behaviour that if the keep is enclosed or otherwise unreachable (A->B style) to a given worker or their workshop destination, they fail to pathfind, even though the worker can just still access their workshop and their storage destination, etc.
# Setting type: Boolean
# Default value: true
EnableWorkersKeepPCLDependencyOriginFix = true

## Fixes the bug that causes mounted units in tribes that can retreat (ex: sorties) to become stuck since they can't position themselves onto the keep door.
# Setting type: Boolean
# Default value: true
EnableMountedUnitsRetreatFix = true

## Introduces a simple reachability check for grunts (and perhaps other workers) for their work targets at no cost.
# Setting type: Boolean
# Default value: true
EnableStuckOxGruntsFix = true

## Allows the gameplay option that unrestricts the lord movement in the first place
# Setting type: Boolean
# Default value: true
AllowLordMovementFreedomPatch = true

[ProductionBuildingsDontLoseStorageOnSleepFix]

## Fixes some buildings that lose their local storage when put to sleep, such as the Ox tether and the Iron mine.
# Setting type: Boolean
# Default value: true
Enabled = true

[ProperLowWallCostFix]

## Fixes the stone cost calculation used to represent how many low walls a player can build.
# Setting type: Boolean
# Default value: true
Enabled = true

[RelocateAIVOrderedMapTileIds]

## Relocates and expands the 4000 item buffer that contains tileId specific build step data (Walls, Pitch, Moats, etc).
# Setting type: Boolean
# Default value: true
Enabled = true

[SmarterSiegeAssassins]

## Lets assassins during sieges capture more than one gatehouse.
# Setting type: Boolean
# Default value: true
Enabled = true

[UnitsSuppressSpeedReductionOnSelectionFix]

## Fixes the behaviour that units reduce their max speed when selected by suppressing this. Only affects units with special running states, such as maceman, etc.
# Setting type: Boolean
# Default value: true
Enabled = true

[UnstuckUnitsOnAIBuiltWall]

## Attempts to unstuck any units when the AI builds a wall over them. These units will be teleported back near their own keep.
# Setting type: Boolean
# Default value: true
Enabled = true

## Applies filter: Only siege units will be relocated
# Setting type: Boolean
# Default value: false
FilterOnlySiegeUnits = false

## When the engineers will get the re-assignment order to re-man the moved siege engine
# Setting type: Int32
# Default value: 5000
SiegeUnitReassignmentDelay = 5000

## What to do with siege engines.
# Setting type: UnstuckSiegeEngineBehaviour
# Default value: Move
# Acceptable values: Move, Delete, DeleteWithEngineers
BehaviourForSiegeUnits = Move

