{
  "schemaVersion": 1,
  "mods": {
    "BuildingCosts_Serp": { "enabled": false, "settings": {} },
    "BuildingLimit_Serp": { "enabled": false, "settings": {} },
    "ExtraFeatures_Serp": { "enabled": false, "settings": {} },
    "RandomEvents_Serp": { "enabled": false, "settings": {} },
    "StartConditions_Serp": {
      "enabled": true,
      "settings": {
        "SetStartGoldAI": -1,
        "SetStartGoldHuman": 500,
        "StartGoodsAI": "STORED_WOOD_PLANKS=100",
        "StartGoodsHuman": "STORED_WOOD_PLANKS=100\r\nSTORED_STONE_BLOCKS=50",
        "AddStartTroopsAI": "CHIMP_TYPE_ARCHER=10",
        "AddStartTroopsHuman": "CHIMP_TYPE_SPEARMAN=5"
      }
    },
    "UnitCosts_Serp": { "enabled": false, "settings": {} },
    "UnitLimit_Serp": { "enabled": false, "settings": {} }
  }
}
